.root {
    height: 30px;
    width: 100%;
    border: none;
    border-radius: 10px;
    background: white;
    display: flex;
    justify-content: space-between;
}

.input {
    height: 100%;
    padding: 10px;
    width: 100%;
    font-size: 1em;
    border: none;
    border-radius: 10px;
    background: transparent;
}

.input:focus {
    outline: none;
}

.search {
    border: none;
    background: transparent;
    cursor: pointer;
    text-decoration: none;
    padding: 5px;
}